/* BEGIN: Global Styles */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/html, body { /* Make body occupy full browser height */
    height: 100%;
}



body {
    margin: 0;
}

* {
    border: 1px solid red;
}

#header{
	display: inline-flex;
    width:100%;
    margin-left:2%;
}

#yo-logo{
    font-size: 30px;
}

#logout-button{
    position:absolute;
    right: 2%;
    width: 70px;
    height: 20px;
   
    


}

.user-name{
    position: relative;
	min-height: 50px;
	align-content: center;
	margin-top:3px;
    margin-bottom:3px;
	padding-left:2%;
    padding-top:5px;
}

.user-list-title{
    text-align: center;
}

.yo-button{
    position:absolute;
    right: 2%;
    width:100px;
    height:30px;
    font-size: 20px;
}



/* END: Global Styles */